%%THUMBNAIL%%
%%TITLE where="loop"%%

<div class="entry-meta">
	%%DATE   before="<?php _e( 'Posted on ', 'cherry' ); ?>"%%
	%%AUTHOR before="<?php _e( 'by ', 'cherry' ); ?>"%%
	%%COMMENTS%%
</div>

%%CONTENT%%