<h3><?php _e( 'Written by', 'cherry' ); ?> %%GET_THE_AUTHOR_LINK location="core"%%</h3>

%%AVATAR container_class="author-bio_avatar alignleft"%%

%%AUTHOR_META field="description"%%
<?php _e( 'View all: ', 'cherry' ); ?> %%GET_THE_AUTHOR_POSTS_LINK%%