%%THUMBNAIL%%

%%HEADER%%

<div class="entry-meta">
	<?php _e( 'Posted on', 'cherry' ); ?> %%DATE%%
	<?php _e( 'by', 'cherry' );        ?> %%AUTHOR%% %%COMMENTS%%
</div>

%%CONTENT%%

<div class="entry-meta entry-meta-bottom">
	<?php _e( 'Posted in', 'cherry' ); ?> %%TAXONOMY name="category"%% %%TAXONOMY name="post_tag"%%
</div>