<footer class="comment-meta">
	<div class="comment-author vcard">
		%%COMMENT_AUTHOR_AVATAR%%
		<?php printf( '%s <span class="says">' . __( 'says:', 'cherry' ) . '</span>', '%%COMMENT_AUTHOR_LINK%%' ); ?>
	</div>
	<div class="comment-metadata">
		%%COMMENT_DATE%%
	</div>
</footer>
<div class="comment-content">
	%%COMMENT_TEXT%%
</div>
<div class="reply">
	%%COMMENT_REPLY_LINK%%
</div>