%%THUMBNAIL where="loop" class="alignleft" size="post-thumbnail"%%
%%THUMBNAIL where="single" class="aligncenter"%%

%%TITLE%%

<div class="entry-meta">
	%%DATE   before="<?php _e( 'Posted on ', 'cherry' ); ?>"%%
	%%AUTHOR before="<?php _e( 'by ', 'cherry' ); ?>"%%
	%%COMMENTS%%
</div>

%%CONTENT%%
%%BUTTON%%

<div class="entry-meta entry-meta-bottom">
	%%TAXONOMY before="<?php _e( 'Posted in ', 'cherry' ); ?>" name="category"%% %%TAXONOMY name="post_tag"%%
</div>