%%GALLERY where="loop"%%
%%TITLE   where="loop"%%

<div class="entry-meta entry-meta-top">
	%%DATE   before="<?php _e( 'Posted on ', 'cherry' ); ?>"%%
	%%AUTHOR before="<?php _e( 'by ', 'cherry' ); ?>"%%
	%%COMMENTS%%
	%%TAXONOMY before="<?php _e( 'in ', 'cherry' ); ?>" name="category"%%
	%%TAXONOMY name="post_tag"%%
</div>

%%CONTENT where="single"%%
%%BUTTON%%