%%TITLE where="loop"%%

<div class="entry-meta">
	<?php _e( 'Posted on', 'cherry' ); ?> %%DATE%%
	<?php _e( 'by', 'cherry' );        ?> %%AUTHOR%% %%COMMENTS%%
</div>

%%EXCERPT where="loop"%%
%%CONTENT where="single"%%

%%BUTTON%%