%%THUMBNAIL size="thumb-l"%%
%%TITLE where="loop"%%

<div class="entry-meta">
	%%DATE   before="<?php _e( 'Posted on ', 'cherry' ); ?>" where="loop"%%
	%%AUTHOR before="<?php _e( 'by ', 'cherry' ); ?>" where="loop"%%
	%%COMMENTS where="loop"%%
</div>

%%CONTENT%%
%%BUTTON where="loop"%%