%%TITLE where="loop"%%

<div class="entry-meta entry-meta-top">
	<?php printf( __( 'Posted on %s', 'cherry' ), '%%DATE%%' ); ?>
	<?php printf( __( 'by %s', 'cherry' ), '%%AUTHOR%%' ); ?>
	%%COMMENTS%%
</div>

%%CONTENT%%
%%BUTTON%%

<div class="entry-meta entry-meta-bottom">
	<?php printf( __( 'Posted in %s', 'cherry' ), '%%TAXONOMY name="category"%%' ); ?>
	%%TAXONOMY name="post_tag"%%
</div>