%%AVATAR%%

%%CONTENT%%

%%BUTTON%%

<div class="entry-meta entry-meta-bottom">
	<?php _e( 'Posted on', 'cherry' ); ?> %%DATE%%
	<?php _e( 'by', 'cherry' );        ?> %%AUTHOR%% %%COMMENTS%%
	<?php _e( 'Posted in', 'cherry' ); ?> %%TAXONOMY name="category"%% %%TAXONOMY name="post_tag"%%
</div>