%%VIDEO where="loop"%%

%%TITLE%%

<div class="entry-meta">
	<?php _e( 'Posted on', 'cherry' ); ?> %%DATE%%
	<?php _e( 'by', 'cherry' );        ?> %%AUTHOR%% %%COMMENTS%%
	<?php _e( 'in', 'cherry' );        ?> %%TAXONOMY name="category"%% %%TAXONOMY name="post_tag"%%
</div>

%%CONTENT where="single"%%

%%BUTTON%%