// Wrapper.
.sidebar-sidebar-content-wrapper,
.sidebar-content-sidebar-wrapper,
.content-sidebar-sidebar-wrapper {
	width: $content-sidebar-wrapper-width;
}

.sidebar-content-sidebar-wrapper,
.sidebar-sidebar-content-wrapper {
	float: right;
}

.content-sidebar-sidebar-wrapper {
	float: left;
}


// Primary area.
.sidebar-content-wrapper,
.content-sidebar-wrapper,
.sidebar-sidebar-content-wrapper,
.sidebar-content-sidebar-wrapper,
.content-sidebar-sidebar-wrapper {
	#primary {
		width: $primary-area-width;
	}
}

.sidebar-content-wrapper,
.sidebar-sidebar-content-wrapper {
	#primary {
		float: right;
	}
}

.content-sidebar-wrapper,
.content-sidebar-sidebar-wrapper,
.sidebar-content-sidebar-wrapper {
	#primary {
		float: left;
	}
}


// Main sidebar.
#sidebar-main {
	width: $sidebar-main-width;
}

.sidebar-content-wrapper,
.sidebar-sidebar-content-wrapper {
	#sidebar-main {
		float: left;
	}
}

.content-sidebar-wrapper,
.content-sidebar-sidebar-wrapper,
.sidebar-content-sidebar-wrapper {
	#sidebar-main {
		float: right;
	}
}


// Secondary sidebar.
#sidebar-secondary {
	width: $sidebar-secondary-width;
}

.sidebar-sidebar-content-wrapper +,
.sidebar-content-sidebar-wrapper + {
	#sidebar-secondary {
		float: left;
	}
}

.content-sidebar-sidebar-wrapper + {
	#sidebar-secondary {
		float: right;
	}
}


// Fix for `.container`
.cherry-with-sidebar {
	.content-area {
		.container {
			width: 80%;
		}
	}
}