/*
Description: The layout stylesheet.
Author:      Cherry Team
Version:     1.0.0
*/
/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (min-width: 992px) {
  .cherry-header-boxed .site-header .container,
  .cherry-content-boxed .site-content .container,
  .cherry-footer-boxed .site-footer .container {
    width: auto;
  }

  .cherry-with-sidebar #primary {
    width: 75%;
  }
  .cherry-with-sidebar.cherry-blog-layout-1-left #primary, .cherry-with-sidebar.cherry-blog-layout-1-left-2-left #primary {
    float: right;
  }
  .cherry-with-sidebar.cherry-blog-layout-1-right #primary, .cherry-with-sidebar.cherry-blog-layout-1-right-2-right #primary, .cherry-with-sidebar.cherry-blog-layout-1-left-2-right #primary {
    float: left;
  }
  .cherry-with-sidebar.cherry-blog-layout-1-left-2-left .content-sidebar-wrapper, .cherry-with-sidebar.cherry-blog-layout-1-left-2-right .content-sidebar-wrapper, .cherry-with-sidebar.cherry-blog-layout-1-right-2-right .content-sidebar-wrapper {
    width: 80%;
  }
  .cherry-with-sidebar.cherry-blog-layout-1-right-2-right .content-sidebar-wrapper {
    float: left;
  }
  .cherry-with-sidebar.cherry-blog-layout-1-left-2-right .content-sidebar-wrapper, .cherry-with-sidebar.cherry-blog-layout-1-left-2-left .content-sidebar-wrapper {
    float: right;
  }

  #sidebar-main {
    width: 23%;
  }
  .cherry-blog-layout-1-left #sidebar-main, .cherry-blog-layout-1-left-2-left #sidebar-main {
    float: left;
  }
  .cherry-blog-layout-1-right #sidebar-main, .cherry-blog-layout-1-right-2-right #sidebar-main, .cherry-blog-layout-1-left-2-right #sidebar-main {
    float: right;
  }

  #sidebar-secondary {
    width: 18%;
  }
  .cherry-blog-layout-1-left-2-left #sidebar-secondary, .cherry-blog-layout-1-left-2-right #sidebar-secondary {
    float: left;
  }
  .cherry-blog-layout-1-right-2-right #sidebar-secondary {
    float: right;
  }

  .cherry-with-sidebar .site-content .container {
    width: 80%;
    /* fix */
  }
  .cherry-with-sidebar.cherry-content-boxed .site-content .container {
    width: auto;
  }
}
